<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="# of tweets worldwide on religious topics.">
  <meta property="og:image" content="http://relig.herokuapp.com/facebook.png" />
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Religion on Twitter</title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/favicon.ico">

</head>
  <body>
    <% unless browser.ie? %>
    <div id="container">
      <%= yield %>
    </div>
    <% else %>
      <div id="iefail">
        <div id="iefail-icon">
          <i class="icon-twitter icon-rotate-180 text-error"></i>
        </div>

        <i class="icon-terminal icon-2x icon-border"></i> Relig does not support Internet Explorer. Please try again in <a href="http://browsehappy.com/">Chrome, Firefox, Opera, or Safari.</a>
    </div>
  <% end %>
  </body>
</html>
