<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div div class="royal-purple-bg" data-id="relig" data-view="Text" data-title="Relig" data-text="# of tweets worldwide on religious topics." data-moreinfo="Full of meaning. Deep. Serious. Legit."></div>
      <i class="icon-double-angle-right icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex=".5" data-sizey="4">
      <div data-id="<%= request[:term].downcase %>-list" data-view="Comments" data-moreinfo="In the Past Hour"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    
  </ul>
</div>
